<% @bookings.each do |booking|%>
  <%=render "components/card", car:booking.car%>
  <div>
    <%=booking.start_date%>
  </div>
  <div>
    <%=booking.end_date%>
  </div>
  <div>
    <%=booking.price_total%>
  </div>
<% end %>
