<div class="rootpage-banner text-bg-dark">
  <div class="banner-text p-3 mb-6 text-center">
    <h1 class="mb-3">Welcome to CarBNB</h1>
    <p> CarBNB is a car rental marketplace that connects car owners with people who need a car for a short period of time. </p>
    <p><%= link_to "Click here", new_user_session_path, class: "rootpage-signup-link" %> to sign up and get started! </p>
  </div>
</div>



<div class="landing-page-footer">
  <h6>Made by Tom, Andy, Viet, and Max</h6>
  <p class="text-center secret-link"><a href="https://youtu.be/9bZkp7q19f0?t=9" target="_blank">secret link ;)</a></p>
</div>

<div>
<!--
  <div class="container mx-auto">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% Car.all.each_with_index do |car, index| %>
                    <div class="carousel-item <%= "active" if index.zero? %>">
                        <img class="d-block w-100 object-fit-scale" src="<%= cl_image_path car.photos.first.key %>" alt="<%= index.ordinalize %> image">
                    </div>
                <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  -->
</div>
