<div>
  <h1>Pages#home</h1>
</div>




<div class="container border border-3">
  <div class="card">
    <p>card #1 </p>
    <%# Card should have cars info: brand model colour(?) image price_per_day %>
  </div>
  <div class="card">
    <p>card #2 </p>
  </div>

<%# @cars.each.do |car| %>
  <%# <div class="card"> %>
    <%# car.brand  %>
    <%# car.model  %>
    <%# car.image  %>
    <%# car.price_per_day  %>
  <%# </div> %>
<%# end %>

</div>
