<div class="rootpage-banner text-bg-dark">
  <div class="banner-text p-3 mb-6 text-center">
    <h1 class="mb-3">Welcome to CarBNB</h1>
    <p> CarBNB is a car rental marketplace that connects car owners with people who need a car for a short period of time. </p>
    <p><%= link_to "Click here", new_user_session_path, class: "rootpage-signup-link" %> to sign up and get started! </p>
  </div>
</div>
