.car-reviews-heading {
  text-align: center;
}

.car-reviews-container {
  margin: 10vh 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.review-card {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  color: black;
}
