<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%if booking.status_pending?%>
          <%= link_to "Accept booking", accept_booking_path(booking), class:"btn btn-success", data: {turbo_method: :patch} %>
          <%= link_to "reject booking", decline_booking_path(booking), class:"btn btn-danger", data: {turbo_method: :patch, turbo_confirm: "Are your sure?"}%>
        <!-- Button trigger modal -->
        <% elsif booking.status_accepted? %>
          <%= link_to "reject booking", decline_booking_path(booking), class:"btn btn-danger", data: {turbo_method: :patch, turbo_confirm: "Are your sure?"}%>
        <% elsif booking.status_declined?%>
          <%= link_to "Accept booking", accept_booking_path(booking), class:"btn btn-success", data: {turbo_method: :patch} %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
