  <div class="text-center p-20px">
  <h1> CarBNB - View all Cars </h1>
  <%=link_to "List a New Car", new_car_path, class: "btn btn-primary"%>
  </div>

  <% @cars.each do |car|%>
    <%= render "components/card", car:car%>
  <% end %>
