<h1>Add a review for this car</h1>
<%= simple_form_for [@car, @review] do |f| %>
  <%= f.input :rating, label: "How many stars out of 5?" %>
  <%= f.input :content, label: "Please add a comment about your review" %>
  <%= f.submit "Submit review" %>
<% end %>
